@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

.light-theme {
  --background-primary: hsl(0, 0%, 100%);
  --background-secondary: hsl(0, 0%, 97%);
  --action-primary: hsl(214, 32%, 91%);
  --action-secondary: hsl(210, 38%, 95%);
  --foreground-primary: hsl(218, 23%, 23%);
  --foreground-secondary: hsl(216, 15%, 52%);
  --foreground-tertiary: hsl(214, 20%, 69%);
  --accent: hsl(229, 76%, 66%);
}

.dark-theme {
  --background-primary: hsl(218, 23%, 23%);
  --background-secondary: hsl(220, 26%, 14%);
  --action-primary: hsl(216, 15%, 52%);
  --action-secondary: hsl(218, 23%, 23%);
  --foreground-primary: hsl(210, 38%, 95%);
  --foreground-secondary: hsl(211, 25%, 84%);
  --foreground-tertiary: hsl(214, 20%, 69%);
  --accent: hsl(229, 76%, 66%);
}

:root {
  --fs-base: 0.85rem;
  --fs-1: 1.875rem;
  --fs-2: 1.5rem;
  --fs-3: 1.25rem;
  --fs-4: 0.875rem;
  --fs-5: 0.75rem;
  --py: 5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img,
button {
  display: block;
}

a,
span {
  display: inline-block;
}

button {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

html {
  font-family: 'Inter', sans-serif;
  font-size: var(--fs-base);
  line-height: 1.8;
}

:focus {
  outline-offset: 4px;
}

/**
 * scrollbar style
 */

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 20px;
  border: 4px solid;
}

.light-theme::-webkit-scrollbar-thumb {
  border-color: hsl(0, 0%, 90%);
}

.dark-theme::-webkit-scrollbar-thumb {
  border-color: hsl(219, 27%, 20%);
}

.light-theme::-webkit-scrollbar-track {
  background: hsl(0, 0%, 90%);
}

.dark-theme::-webkit-scrollbar-track {
  background: hsl(219, 27%, 20%);
}

/*-----------------------------------*\ 
  #BASE STYLE
\*-----------------------------------*/

.h1,
.h2,
.h3,
.h4 {
  display: block;
  color: var(--foreground-primary);
}

.h1 {
  font-size: var(--fs-1);
  font-weight: 900;
}

.h2 {
  font-size: var(--fs-2);
  font-weight: 700;
}

.h3 {
  font-size: var(--fs-3);
  font-weight: 700;
}

.h4 {
  font-size: var(--fs-4);
  font-weight: 700;
}

.text-sm {
  font-size: var(--fs-4);
}

.text-tiny {
  font-size: var(--fs-5);
}

/*-----------------------------------*\ 
  #REUSED STYLE
\*-----------------------------------*/

.container {
  margin-inline: auto;
  margin: auto;
  padding: 0 15px;
}

.btn {
  min-width: 10rem;
  border-radius: 100px;
}

.btn-primary {
  background: var(--accent);
  color: var(--white);
  padding: 0.6875rem 1.1875rem;
}

.btn-primary:hover {
  background: var(--foreground-secondary);
  color: var(--action-primary);
}

.btn-secondary {
  background: var(--action-secondary);
  color: var(--foreground-secondary);
  padding: 0.5rem 1rem;
  border: 3px solid var(--foreground-tertiary);
}

.btn-secondary:hover {
  border-color: var(--accent);
}

/*-----------------------------------*\ 
  #Extra style for dark theme
\*-----------------------------------*/

.dark-theme .btn-primary:hover {
  color: var(--background-primary);
}

.dark-theme .blog-topic {
  background: var(--action-primary);
  color: var(--foreground-secondary);
}

.dark-theme .blog-topic:hover {
  background: var(--foreground-primary);
  color: var(--action-primary);
}

.dark-theme .load-more:hover {
  color: var(--white);
}

.dark-theme .aside .h2 {
  color: var(--foreground-primary);
}

.container1 {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*-----------------------------------*\ 
  #HEADER
\*-----------------------------------*/

header {
  background: var(--background-primary);
}
main {
  background: var(--background-primary);
}

header .flex-wrapper {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 15px 0;
}
.brand h1 {
  font-size: 2rem;
  color: var(--foreground-primary);
}
.brand h1 span {
  color: crimson;
}

.logo-light,
.logo-dark {
  display: none;
}

.light-theme .logo-light,
.dark-theme .logo-dark {
  display: block;
}

header .btn-group {
  display: flex;
  align-items: center;
  gap: 15px;
}

.theme-btn-mobile,
.nav-menu-btn,
.nav-close-btn {
  background: var(--action-secondary);
  color: var(--foreground-tertiary);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 25px;
}

:is(.theme-btn-mobile, .nav-menu-btn, .nav-close-btn):hover {
  background: var(--accent);
  color: var(--white);
}

.theme-btn-mobile ion-icon {
  display: none;
}

.theme-btn-mobile.light .sun,
.theme-btn-mobile.dark .moon {
  display: block;
}

.mobile-nav {
  position: fixed;
  inset: 0;
  background: var(--background-primary);
  padding: 70px 20px;
  overflow: auto;
  overscroll-behavior: contain;
  transform: translateX(100%);
  visibility: hidden;
  transition: 0.5s cubic-bezier(1, 0, 0.3, 0.7);
  z-index: 10;
}

.mobile-nav.active {
  transform: translateX(0);
  visibility: visible;
}

.nav-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.mobile-nav .wrapper {
  padding-bottom: 1.25rem;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid var(--action-primary);
}

.mobile-nav .nav-title {
  margin-bottom: 1rem;
}

.mobile-nav .nav-item {
  margin-bottom: 0.5rem;
}

.mobile-nav .nav-link {
  font-size: var(--fs-3);
  color: var(--foreground-secondary);
}

.mobile-nav .nav-link:hover {
  color: var(--accent);
}

/*-----------------------------------*\ 
  #HERO SECTION
\*-----------------------------------*/

.hero {
  background: var(--background-primary);
  padding-top: 2rem;
  padding-bottom: var(--py);
  text-align: center;
}

.hero .h1 {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.hero b {
  color: var(--accent);
  font-weight: inherit;
}

.hero .h3 {
  color: var(--foreground-secondary);
  margin-bottom: 2rem;
}

.hero .btn-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  text-align: center;
}

.hero .right {
  display: none;
}
.hero .hero-img {
  height: 50vh;
}
#element {
  color: var(--accent);
}

/*-----------------------------------*\ 
  #about
\*-----------------------------------*/

/* About Section */

.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: var(--foreground-primary);
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}
.section-title span {
  color: crimson;
}
#about .about {
  color: var(--foreground-secondary);
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

#about .col-right {
  width: 100%;
}
#about .col-right h2 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}
#about .col-right p {
  margin-bottom: 20px;
}
#about .col-right .cta {
  color: var(--foreground-secondary);
  margin-bottom: 50px;
  padding: 10px 20px;
  font-size: 2rem;
}

/* End About Section */

/*-----------------------------------*\ 
  #project
\*-----------------------------------*/
/* Projects section */
#projects .projects {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}
#projects .projects-header h1 {
  margin-bottom: 50px;
}
#projects .all-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#projects .project-item {
  display: flex;
  font-size: 12px;
  justify-content: center;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}
#projects .project-info {
  padding: 30px;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background: var(--background-primary);
  color: var(--foreground-primary);
}
#projects .project-info h1 {
  font-size: 4rem;
  font-weight: 500;
}
#projects .project-info h2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 10px;
}
#projects .project-info p {
  color: var(--foreground-primary);
}
#projects .project-img {
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
#projects .project-img:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.7;
}
#projects .project-img img {
  transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img img {
  transform: scale(1.1);
}

/* End Projects section */
/*-----------------------------------*\ 
  #services
\*-----------------------------------*/
/* Services Section */
#services .services {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
  color: var(--foreground-tertiary);
}
#services .service-top {
  max-width: 500px;
  margin: 0 auto;
}
#services .service-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
#services .service-item {
  flex-basis: 20%;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  border: 0px solid black;
  border-radius: 10px;
  background-size: cover;
  margin: 0 2%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0px 0px 18px 0 #0000002c;
  transition: 0.3s ease box-shadow;
}
#services .service-item:hover {
  box-shadow: 0px 0px 5px 0 #0000002c;
}
#services .service-item::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--background-primary);
  opacity: 0.9;
  z-index: -1;
}
#services .service-bottom .icon {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}
#services .service-item h2 {
  font-size: 2rem;
  color: var(--foreground-primary);
  margin-bottom: 10px;
  text-transform: uppercase;
}
#services .service-item p {
  color: var(--foreground-secondary);
  text-align: left;
}
/* End Services Section */
/*-----------------------------------*\ 
  #contact
\*-----------------------------------*/

/* contact Section */
#contact .contact {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}
#contact .contact-items {
  width: 100%;
}
#contact .contact-item {
  width: 80%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 18px 0 #0000002c;
  transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
  box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
  width: 70px;
  margin: 0 auto;
  margin-bottom: 10px;
}
#contact .contact-info h2 {
  font-size: 1.7rem;
  font-weight: 100;
  margin-bottom: 5px;
  color: var(--foreground-primary);

  font-family: 'Montserrat', sans-serif;
}
#contact .contact-info h3 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500;
  color: var(--foreground-secondary);
}
/*End contact Section */
/*-----------------------------------*\ 
  #FOOTER
\*-----------------------------------*/

footer {
  background: var(--background-primary);
}

footer .container {
  padding: var(--py) 15px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

footer .wrapper {
  text-align: center;
}

.footer-logo {
  margin-bottom: 10px;
}

.footer-text {
  color: var(--foreground-secondary);
  max-width: 300px;
  margin-inline: auto;
  margin: auto;
}

.footer-title {
  color: var(--foreground-primary);
  font-weight: 700;
  margin-bottom: 0.4rem;
}

.footer-link {
  color: var(--foreground-secondary);
}

.footer-link:hover {
  color: var(--accent);
}

.copyright {
  color: var(--foreground-secondary);
  font-size: var(--fs-4);
  text-align: center;
  padding: 1rem;
  border-top: 1px solid var(--action-primary);
}

.copyright a {
  color: var(--accent);
  font-weight: 500;
}

.copyright a:hover {
  text-decoration: underline;
}

/*-----------------------------------*\ 
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 550px screen
 */

@media (min-width: 550px) {
  :root {
    --fs-base: 0.9rem;
  }
}

@media (min-width: 650px) {
  :root {
    --fs-1: 2.25rem;
  }

  .container {
    padding: 0 30px;
  }

  .navbar {
    padding: 30px 0;
  }

  footer .container {
    padding: var(--py) 30px;
    grid-template-columns: 2fr 1fr 1fr;
  }

  footer .wrapper {
    text-align: left;
  }

  .footer-text {
    margin: 0;
  }
  #services .service-bottom .service-item {
    flex-basis: 45%;
    margin: 2.5%;
  }
}

@media only screen and (min-width: 768px) {
  /* Project */
  #projects .project-item {
    flex-direction: row;
  }
  #projects .project-item:nth-child(even) {
    flex-direction: row-reverse;
  }
  #projects .project-item {
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  #projects .all-projects .project-info {
    height: 100%;
  }
  #projects .all-projects .project-img {
    height: 100%;
  }
  /* End Project */

  /* About */
  #about .about {
    flex-direction: row;
  }
  #about .col-left {
    width: 600px;
    height: 400px;
    padding-left: 60px;
  }

  /* contact  */
  #contact .contact {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-width: 20vh;
  }
  #contact .contact-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
  }
  #contact .contact-item {
    width: 30%;
    margin: 0;
    flex-direction: row;
  }
  #contact .contact-item .icon {
    height: 100px;
    width: 100px;
  }
  #contact .contact-item .icon img {
    object-fit: contain;
  }
  #contact .contact-item .contact-info {
    width: 100%;
    text-align: left;
    padding-left: 20px;
  }
  .hero {
    text-align: left;
  }

  .hero .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;
  }

  .hero .btn-group {
    justify-content: start;
    gap: 30px;
  }

  .hero .right {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero .pattern-bg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 200px;
    background: url(./Assets/pattern.png);
    background-size: contain;
    opacity: 0.2;
  }

  .hero .img-box {
    position: relative;
    z-index: 2;
  }

  .hero-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 0 0 280px 230px;
    transform: translate(10px, -10px);
  }

  .hero .shape {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -42%) rotate(-20deg);
  }

  .hero .shape-1 {
    background: var(--accent);
    width: 90%;
    height: 90%;
    z-index: -1;
  }

  .hero .shape-2 {
    width: 92%;
    height: 92%;
    box-shadow: inset 0 -30px 0 var(--action-primary);
    z-index: 2;
  }

  /* End contact  */
}

@media (min-width: 1024px) {
  :root {
    --fs-base: 1rem;
    --fs-1: 3rem;
  }

  .container {
    max-width: 1150px;
  }

  header .btn-group {
    display: none;
  }

  header .flex-wrapper {
    display: flex;
    gap: 30px;
  }

  .desktop-nav {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .desktop-nav .nav-link {
    color: var(--foreground-secondary);
    font-weight: 700;
  }

  .desktop-nav .nav-link:hover {
    color: var(--accent);
  }

  .theme-btn-desktop {
    position: relative;
    background: var(--background-secondary);
    color: var(--white);
    width: 52px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
  }

  .theme-btn-desktop.light {
    background: linear-gradient(45deg, hsl(7, 100%, 71%), hsl(46, 100%, 65%));
  }

  .theme-btn-desktop.dark {
    background: linear-gradient(45deg, hsl(225, 100%, 60%), hsl(296, 80%, 40%));
  }

  .theme-btn-desktop::before {
    content: '';
    position: absolute;
    background: var(--white);
    width: 21px;
    height: 21px;
    border-radius: 30px;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    box-shadow: 0 2px 10px -2px hsla(0, 0%, 0%, 0.05);
    z-index: 2;
  }

  .theme-btn-desktop.dark::before {
    left: calc(100% - 24px);
  }

  .main .container {
    display: grid;
    grid-template-columns: 5fr 2fr;
    gap: 60px;
  }

  .footer-title {
    font-size: 1.125rem;
  }

  .footer-link {
    margin-bottom: 0.3rem;
  }
  #services .service-bottom .service-item {
    flex-basis: 22%;
    margin: 1.5%;
  }
}
